* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #202124;
}

header{
    background-color: white;
    padding-bottom: 15px;
}

header > h1{
    padding-top: 10px;
    color:#202124;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.score-board {
    width: 200px;
    border: 4px solid white;
    border-radius: 5px;
    margin: 20px auto;
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 15px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

.badge {
    background-color: indianred;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#user-label{
    position: absolute;
    top: 30px;
    left: -25px;
}

#cpu-label{
    position: absolute;
    top: 30px;
    right: -25px;
}

.result {
    font-size: 40px;
    color: white;
}

.result > p{
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.choices{
    text-align: center;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

img{
    width: 150px;
}

#r-img{
    padding: 10px;
}

#p-img{
    padding: 23px 10px 10px 10px;
}
#s-img{
    padding: 16px 10px 10px 10px;
}

.choice{
    border: 4px solid white;
    border-radius: 50%;
    padding: 10px;
    margin: 0px 20px;
    transition: all 0.3s ease;
}

.choice:hover{
    cursor: pointer;
    background: #121111;
}

#action-message{
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.green-glow{
    border: 4px solid #51cf66;
    box-shadow: 0 0 10px #37b24d;
    transition: all 0.3s ease;
}

.green-glow-score{
    color: #51cf66;
    transition: all 0.3s ease;
}

.red-glow{
    border: 4px solid #fa5252;
    box-shadow: 0 0 10px #e03131;
    transition: all 0.3s ease;
}

.red-glow-score{
    color: #fa5252;
    transition: all 0.3s ease;
}

.yellow-glow{
    border: 4px solid #ffe066;
    box-shadow: 0 0 10px #fab005;
    transition: all 0.3s ease;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 10px 10px 0px 10px;
    height: 40px;
    background-color: white;
}

footer > h3 {
    margin-left: 10px;
    color: #202124;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

footer >a:link, a:visited{
    color:#202124;
}